/* CSS RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body, form, input, button {
    font-family: 'Outfit', sans-serif;
    border: none;
}

body {
    max-width: 1920px;
    padding: 1rem;
    /* background-color: aqua; */
}

.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container .sidebar {
    min-width: 272px;
    padding: 1rem;
    background: #F6F6FF 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 15px #15145724;
    border-radius: 56px;
    opacity: 1;
    text-align: center;
    height: 100%;
}

.sidebar .aside-header{
    display: flex;
    background: transparent linear-gradient(67deg, #19EDD0 0%, #23D8D2 13%, #3FA4D8 38%, #6B51E1 75%, #8C15E8 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    padding: 1rem;
}

.navbar .nav li{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    padding-right: 0;
    font-size: 1.2rem;
}

.navbar .nav li img {
    padding-right: 1rem;
}

.navbar .nav li:hover {
    color: blue;
    cursor: pointer;
}

.sidebar .image-referel {
    width: 237px;
    height: 232px;
    margin: 1rem 0;
    background: transparent url('image/Path\ 62774.svg') 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aside-footer {
    color: #A2A2A2;
}

.aside-footer p:nth-child(2) {
    font-size: 0.8em;
}

.hero {
    padding: 1rem 0;
    width: 1598px;
    background: #EAECFC 0% 0% no-repeat padding-box;
    border-radius: 56px;
}

.hero .hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.hero-header .heading {
    padding-left: 15px;
    color: #2A3141;
}

.line-break {
    display: block;
    width: 100%;
    border-top: 1px solid #5856EB73;
    /* opacity: 0.8; */
    color: #060709;

}
.hero-header button {
    padding: 0.5rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 15px #211F8F29;
    border-radius: 18px;
    width: 240px;
}

.hero .dash-heading {
    padding: 2rem 3rem;
    padding-bottom: 0rem;
    color: #060709;
}

.dash-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 1rem;
    padding: 1rem 3rem;
}

.inner-dash-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
    padding: 0rem 1rem;
}

.inner-dash-grid .card {
    max-width: 341px;
    box-shadow: 8px 8px 18px #04044345;
    /* height: ; */
}

.grid-row-span-2 {
    grid-row: span 2;
}

.grid-col-span-2 {
    grid-column: span 2;
}
.grid-col-span-3 {
    grid-column: span 3;
    background: #DBDCF0 0% 0% no-repeat padding-box;
    border-radius: 27px;
    /* opacity: 0.59; */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.dash-grid .card {
    min-width: 341px;
    min-height: 214px;
    background: #EFF2FE 0% 0% no-repeat padding-box;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 18px #04044345;
    border-radius: 2rem;
    position: relative;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.card-side {
    position: absolute;
    right: 0rem;
    top: 18%;
}

.card-up {
    position: absolute;
    top: 0;
    left: 13%;
}

.card-blue {
    background: transparent linear-gradient(180deg, #4D24F3 0%, #7F08F6 100%) 0% 0% no-repeat padding-box !important;
    border-radius: 2rem !important;
    padding: 2rem 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    text-align: center;
    color: #FFFFFF !important;
    box-shadow: inset -8px -8px 16px #551FF3 !important;
    height: 578px;
}

.inner-flex {
    display: flex;
    gap: 1rem 3rem;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

.total-earning {
    margin-bottom: 3rem;
}

.total-earning .inner-heading h2 {
    color: #2A3141;
    /* padding-bottom: 0.3rem; */
}

.total-earning .inner-heading p {
    color: #535C70;
}

.total-earning img {
    margin: 2rem;
}

.inner-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three-dots {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3rem 0;
    align-items: center;
    /* height: 100%; */
}

.three-dots .dots {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    display: block;
    background: #8D97AC 0% 0% no-repeat padding-box;
}

.three-dots:hover {
    cursor: pointer;
}